.loginWrapper {
    margin-top: 5em;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    color: var(--primary);
    font-size: var(--titleBig);
    font-weight: var(--semiBold);
    text-align: center;
}

.disableSelecting {
    cursor: default;
    user-select: none;
}

.header {
    color: var(--dark);
    font-size: var(--titleSmall);
    font-weight: var(--semiBold);
    text-align: center;
}

.label {
    margin-left: 0.5rem;
    color: var(--subText);
    font-size: var(--big);
    font-weight: var(--semiBold);
    margin-top: 24px;
}

.input {
    background-color: var(--accent);
    border-color: var(--text);
    border-width: 1px;
    border-radius: var(--radiusSmall);
    width: 400px;
    height: 55px;
    border-style: solid;
    padding: 1em;
    font-size: var(--big);
    color: var(--dark);
    text-align: center;
}


.input:hover {
    border-width: 2px;
}

.input:focus {
    border-color: var(--dark);
    border-width: 3px;
    outline: none;
}

.submitButton {
    font-weight: var(--semiBold);
    font-size: var(--big);
    text-decoration: none;
    color: var(--accent);
    background-color: var(--primary);
    border: 2px solid var(--primary);
    cursor: pointer;
    border-radius: var(--radiusSmall);
    padding: 1rem 2rem;
    margin: 2rem auto;
    transition: 0.2s;
    display: flex;
    align-items: center;
}

.submitButton:hover {
    background-color: var(--primaryHover);
    border: 2px solid var(--primaryHover);
    box-shadow: var(--primaryShadow);
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: var(--red);
    border-color: var(--red);
}

.errorMsg {
    color: var(--red);
    font-size: var(--normal);
    font-weight: var(--semiBold);
    margin-top: 24px;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    animation: spinner 1.5s linear infinite;
}