.takingPanel {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.queContainer {
    flex: 4;
    background-color: var(--accent);
    border: 2px solid var(--accentDark);
    border-radius: var(--radiusSmall);
    padding: 1rem;
    text-align: center;
    align-items: center;
    position: relative;
}

.spinnerQue {
    height: 50px;
    width: 50px;
    animation: spinner 1.5s linear infinite;
    z-index: 1;
    position: absolute;
    bottom: 1rem;
    right: calc(50% - 25px);
}

.ticketsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.singleTicket {
    display: flex;
    gap: 1rem;
    font-size: var(--big);
}

.ticketNumber {
    flex: 2;
    background-color: var(--background);
    border-radius: var(--radiusSmall);
    border: 2px solid var(--accentDark);
    transition: 0.2s
}

.ticketNumberFirst {
    flex: 2;
    color: var(--background);
    font-weight: bold;
    background-color: var(--green);
    border-radius: var(--radiusSmall);
    border: 2px solid var(--greenHover);
}

.visitTime {
    flex: 1
}

.panelControlsContainer {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.currentTicketInfo {
    font-weight: normal;
}

.buttonsContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.controlPanelButton,
.logoutButton {
    padding: 1rem 0;
    border-radius: var(--radiusSmall);
    border: none;
    font-size: var(--small);
    color: var(--background);
    font-weight: bold;
    transition: 0.2s;
}

.controlPanelButton:hover,
.logoutButton:hover {
    cursor: pointer;
}

.buttonEndCurrentVisit {
    width: 8rem;
    background-color: var(--red);
}

.buttonEndCurrentVisit:hover {
    background-color: var(--redHover);
    box-shadow: var(--redShadow);
}

.buttonEndCurrentVisit:active {
    background-color: var(--redActive);
}


.buttonTakeInNext {
    width: 8rem;
    background-color: var(--green);
}

.buttonTakeInNext:hover {
    background-color: var(--greenHover);
    box-shadow: var(--greenShadow);
}

.buttonTakeInNext:active {
    background-color: var(--greenActive);
}


.buttonFinishTakingIn {
    width: 15rem;
    padding: 1rem;
    background-color: var(--dark);
}

.buttonFinishTakingIn:hover {
    background-color: var(--darkHover);
    box-shadow: var(--darkShadow);
}

.buttonFinishTakingIn:active {
    background-color: var(--darkActive);
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    animation: spinner 1.5s linear infinite;
}