/* @font-face {
    font-family: WorkSans;
    src: url(./Assets/Fonts/WorkSans/WorkSans-SemiBold.woff2);
    font-weight: bold;
}

@font-face {
    font-family: WorkSans;
    src: url(./Assets/Fonts/WorkSans/WorkSans-Bold.woff2);
    font-weight: bolder;
}

@font-face {
    font-family: WorkSans;
    src: url(./Assets/Fonts/WorkSans/WorkSans-Regular.woff2);
    font-weight: normal;
} */
@font-face {
    font-family: Poppins;
    src: url(./Assets/Fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Poppins;
    src: url(./Assets/Fonts/Poppins/Poppins-Bold.ttf);
    font-weight: bolder;
}

@font-face {
    font-family: Poppins;
    src: url(./Assets/Fonts/Poppins/Poppins-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url(./Assets/Fonts/Poppins/Poppins-Light.ttf);
    font-weight: light;
}

:root {
    /* colors */
    /* --primary: #51B1A6;
    --primaryHover: #4ca89e;
    --secondary: #5E5BD9;
    --backgorundBlack: #24243F;
    --backgroundDark: #E1E5EB;
    --background: #FAFCFE;
    --white: #FFFFFF;
    --whiteHover: #ebebeb;
    --text: #5A5A75;
    --subText: #8C8CA1;
    --error: #ED4B68;
    --errorHover: #b93c53;
    --success: #31D0AA;
    --warning: #FFB802;
    --accent: #F5F7FA;
    --accentDark: #E1E5EB;
    --dark: #24243F; */


    /* colors */
    --primary: #64acc4;
    --primaryHover: #50a1bc;
    --secondary: #4987b8;
    --backgorundBlack: #080f10;
    --backgroundDark: #E1E5EB;
    --background: #FAFCFE;
    --white: #FFFFFF;
    --whiteHover: #ebebeb;
    --text: #5A5A75;
    --subText: #888E9A;
    --error: #eb5d47;
    --errorHover: #d15441;
    --success: #56C878;
    --available: #56C878;
    --availableHover: #4bac68;
    --availableActive: #459c5f;
    --warning: #F6AE2D;
    --accent: #F5F7FA;
    --accentDark: #E1E5EB;
    --dark: #24243F;
    --darkHover: #1d1d33;

    /* typography */
    /* size */
    --small: 1rem;
    --normal: 1.2rem;
    --big: 24px;
    --titleSmall: 32px;
    --titleBig: 38px;
    --header2: 48px;
    --header1: 64px;

    --monsterText: 30px;

    /* fontWeight */
    --regularWeight: normal;
    --semiBold: bold;
    --bold: bolder;
    --light: light;

    /* font */
    --fontFace: 'Poppins', sans-serif;

    /* letterSpacing */
    --normalSpacing: -0.02em;
    --spreadSpacing: 0.1em;

    /* lineHeight */
    --lineHeight: 1.4em;

    /* round radius */
    --radiusSmall: 15px;
    --radiusNormal: 24px;
}

* {
    font-family: var(--fontFace);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}