<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Potwierdzenie rezerwacji</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
        body {
            font-family: 'Poppins', sans-serif;
        }

        h1, h2, p, footer {
            color: #132735;
        }

        .container {
            margin: auto;
            padding-top: 45px;
            max-width: 740px;
            background-color: #64acc4;
            border-radius: 24px;
        }

        .content {
            background-color: #fff;
            border-radius: 24px;
            padding: 30px 60px;
            text-align: center;
            border: 2px solid #64acc4;
        }

        p {
            font-size: larger;
        }

        footer {
            margin-top: 40px;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="content">
            <h2 class="header">Witamy!</h2>
            <p>Twoja wizyta dnia <b>{{date}}</b> została zapisana, twój unikalny kod wizyty to:</p>
            <h1 class="code">{{code}}</h1>
            <p>Proszę o przybycie do placówki w dniu wizyty i potwierdzenie tego faktu wprowadzając kod na ekranie przy
                wejściu.
            </p>
            <p><b>Do zobaczenia!</b></p>
            <footer>Wiadomość została wygenerowana automatycznie, prosimy na nią nie odpowiadać.</footer>
        </div>
    </div>
</body>

</html>