.main {
    min-height: 100vh;
    background-color: var(--accent);
}

.confirmHeader {
    background-color: var(--primary);
    color: var(--background);
    font-size: var(--big);
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 750px;
    margin: auto;
    padding: 1.5rem 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logoImage {
    max-width: 80px;
}

.logoText {
    margin-left: 1rem;
}