.main {
    min-height: 100vh;
    background-color: var(--accent);
}

.centralBoxWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem;
    margin: 0 25%;
}

header {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 25%;
    color: var(--background);
    font-size: var(--big);
}

.logo {
    display: flex;
    align-items: center;
}

.logoImage {
    max-width: 80px;
}

.logoText {
    margin-left: 1rem;
}