.container {
    background-color: var(--primary);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 170px;
    padding-bottom: 70px;
    cursor: pointer;
}

.logo {
    font-weight: var(--bold);
    font-size: var(--header1);
    color: var(--white); 
    letter-spacing: var(--spread);
    text-align: center;
}

.separator {
    width: 80%;
    height: 0.5em;
    background-color: var(--white);
    align-self: center;
    border-radius: 15px;
}

.clock {
    font-weight: var(--bold);
    font-size: 128px;
    color: var(--white);
    letter-spacing: var(--normal);
    text-align: center;
}

.info, .clickMe {
    font-weight: var(--bold);
    font-size: var(--header2);
    color: var(--white); 
    letter-spacing: var(--normal);
    text-align: center;
}

.logoImg {
    width: 300px;
    height: 300px;
}

.infoWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}