.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.displayHeader {
    font-size: var(--titleSmall);
    padding: 1.5rem 10rem;
    max-width: 100%;
    justify-content: center;
    display: flex;
}

.contentContainer {
    flex: 1;
    display: flex;
    min-height: 100%;
    background-color: var(--accent);
    padding: 2rem;
}

.seperator {
    flex: 1;
    max-width: 5px;
    background-color: var(--subText);
    border-radius: 5px;
}

.ticketContainer {
    flex: 4;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    font-size: var(--header2);
    color: var(--dark);
    font-weight: bold;
    letter-spacing: var(--spreadSpacing);
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.waitingTicket {
    padding: 1rem 3rem;
    align-self: center;
    justify-self: center;
    border: 4px solid var(--accentDark);
    background-color: var(--accentDark);
    border-radius: var(--radiusNormal);
}

.inRoomTicketsContainerQ1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.inRoomTicketsContainerQ2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.inRoomTicketsContainerQ3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.blinking {
    animation: blink 2s linear 5;
}

.inRoomTicket {
    display: flex;
    align-items: baseline;
    gap: 2rem;
    padding: 1rem 3rem;
    align-self: center;
    border: 4px solid var(--greenHover);
    background-color: var(--green);
    border-radius: var(--radiusNormal);
}

.ticketTextSmall {
    font-size: var(--titleSmall);
}